* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
}

body {
  background-color: #f5f7fb;
  color: #293264;
  background-image: url("/public/images/blob-bot.png"),
    url("/public/images/blob-top.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left bottom, top right;
  background-size: 20%;
}

.startpage--items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.startpage--title {
  font-size: 31px;
}

.startpage--text {
  margin-top: 7px;
  margin-bottom: 29px;
  font-size: 16px;
  font-weight: 400;
}

.startpage--button {
  padding: 16px 28px;
  font-size: 16px;
  border-radius: 15px;
  border: none;
  background: #4d5b9e;
  color: #f5f7fb;
}

.questions {
  padding: 55px 200px;
}

.question--container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 17px;
  column-gap: 14px;
  margin: 40px 80px;
}

.question--title {
  font-size: 16px;
  grid-column: span 4;
}

.question--buttons {
  padding: 7px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid 333;
  border-radius: 8px;
  border: 1.6px solid #4d5b9e; /* 1) BORDER width; 2) BORDER style; 3) BORDER color*/
  background-color: transparent;
  transition-duration: 0.4s;
}

.question--buttons:hover {
  background-color: #0000000f;
  box-shadow: 0 3px 2px 1px rgba(0, 0, 255, 0.2);
}

.questions--line {
  grid-column: span 4;
  width: 100%;
  border: 0.794239px solid #dbdef0;
}

.questions--check_answers {
  min-width: 120px;
  min-height: 40px;
  display: block;
  margin: 35px auto;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #4d5b9e;
  color: #ffffff;
  transition-duration: 0.4s;
}

.questions--check_answers:hover {
  background-color: #4d5789;
  box-shadow: 0 3px 2px 1px rgba(0, 0, 255, 0.2);
}

.questions--check_correct_answers {
  text-align: center;
}
