* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
}

body {
  background-color: #f5f7fb;
  color: #293264;
  background-image: url("/public/images/blob-bot.png"),
    url("/public/images/blob-top.png");
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: left bottom, top right;
  background-size: 20%;
}

.startpage--items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.startpage--title {
  font-size: 31px;
}

.startpage--text {
  margin-top: 7px;
  margin-bottom: 29px;
  font-size: 16px;
  font-weight: 400;
}

.startpage--button {
  padding: 16px 28px;
  font-size: 16px;
  border-radius: 15px;
  border: none;
  background: #4d5b9e;
  color: #f5f7fb;
}

.questions {
  padding: 200px;
}

.question--container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 12px;
  /* margin: 80px 175px; */
}

.question--title {
  font-size: 16px;
  grid-column: span 4;
}

.question--buttons {
  padding: 7px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 8px;
  border-color: #4d5b9e;
  background-color: transparent;
}
